<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../vendor2/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../vendor2/animate/animate.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../vendor2/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../vendor2/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../css/util2.css">
    <link rel="stylesheet" type="text/css" href="../../css/main2.css">
<!--===============================================================================================-->
    <link rel="apple-touch-icon" sizes="76x76" href="../..images/apple-icon.png">
    <link rel="icon" type="image/png" href="../../images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Complains</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../css/demo.css" rel="stylesheet" />


    <!-- Title Page-->
    

    <!-- Icons font CSS-->
    <link href="../../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="../../vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../css/main.css" rel="stylesheet" media="all">
</head>

<body>
     <div class="wrapper">
                <div class="sidebar" data-image="../../images/img_thumb_3.jpg">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <!-- <a href="http://www.creative-tim.com"class="simple-text">
                        Hospital
                    </a> -->
                </div>
                 <ul class="nav">
                    <li>
                        <a class="nav-link" href="/doc_create">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Create Doc. acc.</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link " href="/adminP">
                            <i class="nc-icon nc-notes"></i>
                            <p>View Patient Data</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/adminD">
                            <i class="nc-icon nc-notes"></i>
                            <p>View Doctors Data</p>
                        </a>
                    </li>
                     <li class="nav-item ">
                        <a class="nav-link" href="/dates">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Set Depart. Opts.</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link " href="/clincs_date">
                            <i class="nc-icon nc-notes"></i>
                            <p>View Clinics Dates</p>
                        </a>
                    </li>
                     <li>
                        <a class="nav-link active" href="/comp">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>View our Complains</p>
                        </a>
                    </li>
                     <li>
                        <a class="nav-link" href="/analysis">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Show Statistics</p>
                        </a>
                    </li>
                    
                    
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->

            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <!-- <a class="navbar-brand" href="#pablo"> Table List </a> -->
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->




                 <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Table of Problems</h4>
                                    <!--<p class="card-category">Here is a subtitle for this table</p>-->
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th style="font-weight:bold">Email</th>
                                            <th style="font-weight:bold">Full Name</th>
                                            <th style="font-weight:bold">Complain</th>
                                            <th style="font-weight:bold">Phone</th>
                                        </thead>
                                        <tbody>
                                            {{#each complains}}
                                            <tr>
                                                <td>{{this.Email}}</td>
                                                <td>{{this.FullName}}</td>
                                                <td>{{this.Complaining}}</td>
                                                <td>{{this.Phone}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


</body>
<!--   Core JS Files   -->
<script src="../../../../js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../../js/core/popper.min.js" type="text/javascript"></script>
<script src="../../js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../../js/plugins/bootstrap-switch.js"></script>
 <script src="../../vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="../../vendor/select2/select2.min.js"></script>
    <script src="../../vendor/datepicker/moment.min.js"></script>
    <script src="../../vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="../../js/global.js"></script>

<!--  Chartist Plugin  -->
<script src=" ../../js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src=" ../../js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src=" ../../js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<!-- <script src=" ../../js/demo.js"></script> -->

<!--===============================================================================================-->  
    <script src="../../vendor2/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="../../vendor2/bootstrap/js/popper.js"></script>
    <script src="../../vendor2/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="../../vendor2/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="../../js/main2.js"></script>


</html>
